# Docker: http://host.docker.internal:8080  |  Local: http://localhost:8080
FRAPPE_URL=http://host.docker.internal
API_KEY=
API_SECRET=
ERPNEXT_USER=Administrator
ERPNEXT_PASSWORD=

NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/
